{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# Message de bienvenue #}
	<section class="section_accueil">
		<div class="welcome">
			<div class="welcome_artisfair">
				
				<h1>Ohé, ohé, ami des arts ! <span>Sois le bienvenu sur Artisfair</span></h1>
				<p>Entre donc en ces lieux où la beauté et la création se rencontrent ! Que tu sois artiste ou simple curieux, tu es ici chez toi. Partage tes œuvres ou laisse-toi émerveiller par celles des autres : peintures, pastels, couture, photographies… Chaque création raconte une histoire et n’attend que ton regard.</p>
				<p>Sache que point de commerce ici, mais un <strong>espace de partage et de découverte</strong>. Alors, approche, flâne et profite de ce monde où l’art est à la portée de tous ! </p>
			</div>
		{% if not is_granted('ROLE_USER') %}
			<div class="button_accueil">
				<a class="btn_inscription" href={{path('app_register')}}>S'inscrire</a>
				<a class="btn_login" href={{path('app_login')}}>Se connecter</a>
			</div>
		{% endif %}
		</div>
		<div class="card_container">
			<div class="card_wrap">
				<div class="card_welcome">
					<div class="card">
						<div class="card_front">
							<h3>Artistes</h3>
						</div>
						<div class="card_back">
							<p>Rejoignez notre communauté en vous inscrivant dès aujourd’hui et faites briller vos talents auprès d’un public passionné.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card_wrap">
				<div class="card_welcome">
					<div class="card">
						<div class="card_front">
							<h3>Visiteurs</h3>
						</div>
						<div class="card_back">
							<p>Laissez-vous inspirer par des créations uniques et inscrivez-vous à notre newsletter pour rester informés des dernières œuvres et événements à ne pas manquer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>Au cœur d’un royaume secret, où l’art règne en maître, un lieu émerge.</p>
<p>Rois et manants, s’y pressent pour découvrir des merveilles.</p>
<p>Toiles peintes, sculptures élégantes, étoffes brodées, chaque œuvre raconte un fragment d’histoire oublié.</p>
<p>Ici, les artistes, qu’ils soient célèbres ou modestes, trouvent un refuge pour leurs créations, un espace pour leurs rêves.</p>
<p>Sous des cieux étoilés, les couleurs et les formes se mêlent en harmonie.</p>
<p>Féerie et passion se confondent dans ce lieu sacré, un écrin où les idées prennent forme et s’élèvent.</p>
<p>Au détour de chaque galerie, un chef-d’œuvre surgit, redécouvert sous le regard émerveillé des visiteurs.</p>
<p>Il suffit d’une lueur, d’un instant d’attention, pour que la magie de l’art opère et éveille les âmes.</p>
<p>Rencontres, partages et découvertes, tout converge vers ce sanctuaire où chaque œuvre trouve son écho.</p>
<p>Faites de ce lieu une aventure sans fin, où la création règne et où les rêves deviennent réalité.</p>
		{# boutons de connection et d'inscription #}
	</section>
	<section>
		<h3>Quelques commentaires d'Internautes...</h3>
		<div class="splide" aria-label="...">
		{% for comment in comments %}
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">01</li>
					<li class="splide__slide">02</li>
					<li class="splide__slide">03</li>
					<li class="splide__slide">04</li>
				</ul>
			</div>
		{% endfor %}
			<div class="slides_comments_progress">
				<div class="slides_comments_progress_bar"></div>
			</div>
		</div>
	</section>

	

{% endblock %}
