@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

@font-face {
	font-family: "title";
	src: url(/assets/font/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}
@font-face {
	font-family: "text";
	src: url(/assets/font/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "joy";
	src: url(/assets/font/Amatic_SC/AmaticSC-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
	background-color: v.$third-color;

}

h1, h2, h3, h4, h5, h6{
	font-family: title;
	color: v.$first-color;
}

header, footer{
	background-color: v.$first-color;
	color: white;
}

p{
	font-family: text;
}
