{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}
<section id="legal_notices">
		<h1>MENTIONS LÉGALES</h1>
		<h2>1. Informations Générales</h2>
			<p>Le site "ARTisfair" est accessible à l'adresse : [URL du site].</p>	
		<h2>2. Hebergeur du Site</h2>
			<ul>
				<li>- Nom du site : ARTisfair</li>
				<li>- Forme juridique : auto-entrepreneur</li>
				<li>- Adresse du siège social : </li>
				<li>- Email de contact : </li>
				<li>- Responsable et Directeur de publication : Isatis</li>
			</ul>
		<h2>3. Hébergeur du site</h2>
			<ul>
				<li>- Nom : Isatis</li>
				<li>- Adresse :  </li>
				<li>- Téléphone :  </li>
			</ul>
		<h2>4. Propriété Intellectuelle</h2>
			<p>L’ensemble du contenu du site ARTisphère (textes, images, logos, design, etc.) est protégé par le droit d’auteur et la propriété intellectuelle. Toute reproduction, modification ou diffusion du contenu, sans autorisation préalable, est interdite.</p>
			<p>Les utilisateurs restent propriétaires de leurs œuvres déposées sur le site. En publiant du contenu sur ARTisphère, ils accordent toutefois à la plateforme un droit d’affichage et de diffusion sur le site.</p>
		<h2>5. Protection des Données Personnelles et Confidentialité</h2>
			<p>ARTisphère collecte et traite certaines données personnelles des utilisateurs (nom, email, photos d’œuvres, commentaires) afin de garantir le bon fonctionnement du site.</p>
			<p>Conformément au Règlement Général sur la Protection des Données (RGPD), les utilisateurs ont le droit d’accéder, de modifier et de supprimer leurs données personnelles. Pour toute demande, ils peuvent contacter l’éditeur du site à l’adresse suivante : [Ton email de contact]</p>	
		<h2>6. Cookies</h2>
			<p>Le site utilise des cookies pour améliorer l’expérience utilisateur. L’utilisateur peut configurer son navigateur pour refuser les cookies.</p>	
		<h2>7. Responsabilité</h2>
			<p>L’éditeur du site s’efforce d’assurer l’exactitude des informations publiées mais ne peut être tenu responsable en cas d’erreurs ou d’omissions.</p>	
			<p>Les utilisateurs sont responsables du contenu qu’ils publient sur ARTisphère. Tout contenu illégal ou portant atteinte aux droits d’autrui sera supprimé dès signalement.</p>
		<h2>8. Droit Applicable et Juridiction Compétente</h2>
			<p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux français seront compétents.</p>
		<h2>9. Contact</h2>	
			<p>Pour toute question ou réclamation, vous pouvez contacter l’éditeur du site à l’adresse suivante : [Ton email ou ton formulaire de contact].</p>
	</section>
{% endblock %}
