{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
<h1>Bienvenue dans votre espace créatif sur Artisfair ! </h1>

<p>En tant qu’artiste, vous avez un contrôle total sur vos œuvres : vous serez le seul à pouvoir les modifier ou les supprimer à tout moment. Votre page personnelle, dédiée à votre art, vous permettra de partager une biographie inspirante, d’exposer vos créations et de révéler votre univers artistique. </p>

<p>Les visiteurs pourront déposer des commentaires sur vos œuvres, offrant une belle opportunité d’échanger et de recueillir leurs impressions. Si vous le souhaitez, vous pourrez également inclure un lien vers vos réseaux sociaux ou votre adresse e-mail, permettant ainsi à vos admirateurs de vous contacter directement. </p>

<p>Exprimez votre talent en toute liberté et laissez le monde s’en émerveiller tout en favorisant des échanges enrichissants autour de votre art ! </p>
{% endblock %}
